body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

}

#container {
  display: grid;
  grid-template-areas:
    "menu menu"
    "sidebar conteudo";
}

#menu {
  background-color: rgb(81, 78, 78);
  grid-area: menu;
  width: 100vw;
  height: 10vh;
  color: rgb(238, 238, 23);
  font-style: oblique;
  text-align: center;

}

#sidebar {
  background-color: #666;
  grid-area: sidebar;
  height: 80vh;
  width: 20vw;
  text-align: center;
}

#conteudo {
  background-color: #ccc;
  grid-area: conteudo;
  height: 90vh;
  width: 90vw;
  text-align: center;
  padding: 0 50px;
}

.p {
  text-align: justify;
  padding: 20px 50px 50px 50px;
  text-indent: 50px;
  word-break: normal;
  line-height: 1.8;
  font-size: 20px;

}


.vertical {
  display: flex;
  text-decoration: none;
  /*tira sublinhado */
  gap: 8%;
}


.nav li,
.nav-bar li {
  list-style: none;
  height: 5vh;
  font-size: 1.5em;


}

.nav li:hover,
.nav-bar li:hover {
  background-color: rgb(192, 120, 14);

}

.nav-bar {
  width: 250px;
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;


}

.nav-bar a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: rgb(2, 2, 2);
  font-size: 1.2rem;
}

.nav-bar i {
  margin-right: 5px;
  font-size: 1.5rem;

}


.nav-bar a.active {
  background-color: rgb(239, 30, 7);

}

.nav-bar a:hover {
  background-color: rgba(221, 151, 66, 0.94);

}

/* Galeria */

.responsive {

  display: flex;
  justify-content: space-around;
  /* border: 2px solid rgb(14, 36, 238); */

}

.galeria {
  border: 1px solid #ccc;
  display: block;
  /* border: 2px solid rgb(71, 9, 185); */

}

.galeria:hover {
  border: 1px solid #777;
}

.galeria img {
  width: 350px;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
  border: 2px solid rgb(9, 209, 86);

}

* {
  box-sizing: border-box;
}


@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}




/* formulario
 */

.container1 {
  text-align: left;
  padding: 10px;
  border: 2px solid rgb(55, 13, 241);
}

.form-group{
display: grid;
width: 300px;
padding: 10px;
  border: 2px solid red;
}

.form-group input{
  padding: 10px;
  margin-top: 10px;
}

.container1 .form-group {

  padding: 10px;
}

.checkbox{
  padding: 10px;
}

button{
width: 100px;
height: 50px;
font-size: 1.2rem;
}